* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Light-Font";
    src: url(resources/Ferrari-SansLight.ttf);
}

@font-face {
    font-family: "Regular-Font";
    src: url(resources/Ferrari-SansRegular.ttf);
}

@font-face {
    font-family: "Bold-Font";
    src: url(resources/Ferrari-SansMedium.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: Roboto, sans-serif;
}

a {
    cursor: pointer;
}

/* Section One */

#section-one {
    background-image: url(resources/landing-page-s1-bg-5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 100px 100px 100px;
    position: relative;
}

.title {
    display: flex;
    color: #F9FAF8;
    font-family: "Bold-Font";
    font-size: 24px;
    font-weight: 700;
    margin: 10px;
}

.title > ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 24px;
    margin-left: auto;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: normal;
}

.title > ul > li > a {
    text-decoration: none;
    color: #E5E7EB;
    display: inline-block;
    transition: transform 0.25s ease-in-out;
}

.title > ul > li > a:hover {
    transform: scale(1.1);
}

.title > img {
    width: 50px;
}

.sub-s1 {
    display: flex;
    align-items: center;
}

.sub-s1 > div {
    width: 600px;
}

.sub-s1 > div > h1 {
    color: #F9FAF8;
    font-family: "Bold-Font";
    font-weight: 900;
    font-size: 42px;
    margin-bottom: 0;
}

.sub-s1 > div > a {
    font-family: "Light-Font";
    color: #E5E7EB;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.signup-btn {
    height: 25px;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 25px;
    border: transparent;
    border-radius: 4px;
}

/* Section Two */

#section-two {
    padding: 0 400px 50px 400px;
}

#section-two > h1 {
    font-family: "Bold-font";
    text-align: center;
}

#section-two, .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-two > ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 48px;
}

.image {
    width: 200px;
}

img {
    width: 100%;
    height: 100%;
    transition: filter 0.5s ease-in-out;
}

.item {
    position: relative;
    justify-content: center;
}

.item > a {
    font-family: "Regular-font";
    color: #E5E7EB;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    align-self: self;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.item:hover {
    cursor: pointer;
}

.item:hover a {
    opacity: 1;
    visibility: visible;
}

.item:hover img {
    filter: blur(7px);
}

/* Section Three */
#section-three {
    display: flex;
}

/* Lewis Hamilton */
.LH44 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 500px;
    width: 50%;
    margin-right: auto;
    background: url(resources/LH44.jpg) 50% 25% no-repeat;
}

.LH44 > .drivers-text > h1 {
    color: #E5E7EB;
    font-family: "Regular-Font";
    align-self: flex-end;
}

.LH44 > .drivers-text > .statistics {
    text-align: right;
}

.LH44 .drivers-text .statistics,
.CL16 .drivers-text .statistics {
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.LH44 .drivers-text h1:hover + .statistics,
.CL16 .drivers-text h1:hover + .statistics {
    visibility: visible;
    opacity: 1;
}

/* Charles Leclerc */
.CL16 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 500px;
    width: 50%;
    background: url(resources/CL16.jpg) 25% 15% no-repeat;
}

.CL16 > .drivers-text > h1 {
    color: #E5E7EB;
    font-family: "Regular-Font";
    align-self: flex-start;
}

.CL16 .drivers-text {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

/* Statistics */
.statistics {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    font-family: "Light-Font";
    visibility: hidden;
    opacity: 0;
}

/* Drivers Text */
.drivers-text {
    margin: 15px;
}

.drivers-text h1 {
    transition: transform 0.25s ease-in-out;
}

.drivers-text h1:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 1px;
    transform: scale(1.05)
}

/* Section Four */

#section-four {
    padding: 50px 200px;
}

.sign-up {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 15px 100px;
    gap: 50px;
    border: transparent;
    border-radius: 5px;
    align-items: center;
}

.sign-up > div > p:first-child {
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: -10px;
}

.sign-up > div > p:last-child {
    font-size: 0.8em;
}

.sign-up > button {
    display: block;
    border: 1px solid #E5E7EB;
    margin-left: auto;
}

/* Footer */

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 25px 150px;
    text-align: center;
}